@tailwind base;
@tailwind components;
@tailwind utilities;

/* This was liberally cribbed from https://github.com/sct/overseerr/tree/develop/src/styles */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  html {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      calc(4rem + env(safe-area-inset-bottom)) env(safe-area-inset-left);
  }

  @media (min-width: 640px) {
    html {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  body {
    @apply bg-indigo-950;
    -webkit-overflow-scrolling: touch;
  }

  code {
    @apply rounded-md bg-gray-900 px-2 py-1;
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

@layer components {
  button,
  input,
  select,
  textarea {
    @apply disabled:cursor-not-allowed;
  }

  input[type='checkbox'] {
    @apply h-6 w-6 rounded-md text-indigo-600 transition duration-150 ease-in-out;
  }

  input[type='text'],
  input[type='password'],
  select,
  textarea {
    @apply block w-full min-w-0 flex-1 rounded-md border border-gray-500 bg-gray-700 text-white transition duration-150 ease-in-out sm:text-sm sm:leading-5;
  }

  input.rounded-l-only,
  select.rounded-l-only,
  textarea.rounded-l-only {
    @apply rounded-r-none;
  }

  input.rounded-r-only,
  select.rounded-r-only,
  textarea.rounded-r-only {
    @apply rounded-l-none;
  }

  input.short {
    @apply w-20;
  }

  select.short {
    @apply w-min;
  }

  button > span {
    @apply whitespace-nowrap;
  }

  button.input-action {
    @apply relative -ml-px inline-flex items-center border border-gray-500 bg-indigo-600 bg-opacity-80 px-3 py-2 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out last:rounded-r-md hover:bg-opacity-100 active:bg-gray-100 active:text-gray-700 sm:px-3.5;
  }

  .button-md svg,
  button.input-action svg {
    @apply ml-2 mr-2 h-5 w-5 first:ml-0 last:mr-0;
  }

  .button-sm svg {
    @apply ml-1.5 mr-1.5 h-4 w-4 first:ml-0 last:mr-0;
  }

  svg.icon-md {
    @apply h-5 w-5;
  }

  svg.icon-sm {
    @apply h-4 w-4;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply rounded-full border-0 bg-indigo-500;
    pointer-events: all;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
  }

  input[type='range']::-moz-range-thumb {
    @apply rounded-full border-0 bg-indigo-500;
    pointer-events: all;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
  }
}

@layer utilities {
  .hide-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  .hide-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .hide-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 16px;
    transition: background-color 0.3s ease;
  }

  .hide-scroll:hover::-webkit-scrollbar {
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 16px;
    transition: background-color 0.3s ease;
  }
}
